notes.txt

# Keep environment variables out of version control
backend/.env
backend/prisma/*.db*

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
#!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
